<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
<div class="collapse navbar-collapse" id="navbarText">
  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list " viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
  </svg>
  
  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" routerLink="/search">
    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
  </svg>
  
  <ul class="navbar-nav mx-auto mb-2 mb-lg-0 ">
  
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">U.S</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">INTERNATIONAL</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">CANADA</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">ESPANOL</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">中文</a>
    </li>
    </ul>
  </div>
    
    
<h1 class="text-center" style="font-family: sans-serif;">THE NEW YORK TIMES</h1>

  
  
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">World</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/us">U.S</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/ny">N.Y</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/business">Business</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/opinion">Opinion</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link active"  aria-current="page" routerLink="/science">Science</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/health">Health</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/sports">Sports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active"  aria-current="page" routerLink="/arts">Arts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active"  aria-current="page" routerLink="/books">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active"  aria-current="page" routerLink="/style">Style</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/travel">Travel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/magazine">Magazine</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/realestate">Real Estate</a>
        </li>
      
      </ul>
     
    </div>

