<div class="card mb-3 size" >
    <div class="d-flex">
      <div class="">
        <img  class="picsize" src="{{image}}" alt="image">
      </div>
      <div class="">
        <div class="card-body">
          <p class="card-title">{{section}}    {{itemtype}}</p>
          <p class="card-title">{{title}}   --{{byline}}</p>
        
          
          <p class="card-text">{{abstract}}</p>
          <p class="card-text"><small class="text-muted">{{date}}</small></p>
          <a href="{{short}}" class="card-text">Continue Reading</a>
        </div>
      </div>
    </div>
